body {
  width: 720px;
  background: white;
  margin: 0px;
  margin: auto;
  margin-top: 20px;
}

#COLOR {
  width: 100px;
}

#SIZE {
  clear: left;
  width: 100px;
}

#TOOLS {
  clear: left;
  width: 100px;
}

#TOOLBARS {
  height: 500px;
  float: left;
  background: #F2D7FE;
  border: 2px solid #7B899B;
}

.Toolbar {
  font-family: 'Verdana';
  font-size: 18px;
  font-variant: normal;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1px;
  margin-right: 1px;
  /*border: 2px solid #7B899B;*/
}

.Toolbar button {
  padding: 2px;
  margin: 2px 2px;
  font-variant: normal;
  font-size: 12px;
}

canvas {
  margin-left: 10px;
  border: 1px solid #7B899B;
}

img {
  padding: 2px;
  border: 2px solid #F2F7FE;
}

img.Selected {
  border: 2px groove #E4F0FE;
}

#copyContainer {
	display: none;
}

#copyContainer img{
	width: 250px;
	height: 150px;
}
